body{
    width: 100vw;
    height: 135vh;
    background-image: url('./images/fundo.jpg');
    background-size: cover;  
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
.img{
    max-width: 40%;
    max-height: 40%;
    position: absolute;
    top: 30px;
    left: 50vw;
    transform: translateX(-50%);
}
.botoes{
    height: 56.65px;
    width: 400px;
    border-radius: 100px;
    background-color: #FFFF;
    margin-top: 10px;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px 10px 30px;
    font-size:12pt;
    text-align: left;
}
.botaomaior{
    height: 75px;
}
.botoes a{
    color: #a5283b;
    text-decoration: none;
}
.botoes  b{
    font-weight: bold;
    font-style: bold;
}
.botoes img{
    max-width: 70%;
    max-height: 70%;
    padding:5px 10px 5px 80px;
}
#menu{
    position: absolute;
    top: 200px;
    left: 40vw;
    width: 100px;
    height: 100px;
    transform: translateX(-50%);
}
#menu ul{
    list-style: none;
}
#insta{
    max-width: 20%;
    max-height: 20%;
    position: absolute;
    top: 120vh;
    left:55vw;
    transform: translateX(-50%);
}
@media screen and (max-width:992px) {
    body{width: 100vw;height: 100vh; background-image: url('./images/fundo-mobile.jpg');background-size:120vw 110vh;} 
    .img{max-width: 70%; max-height: 70%;left:40vw;}
    #insta{
        max-width: 100%;
        max-height: 100%;
        top: 70vh;
    }
    .botoes{
        height:100.4px;
        width:709px;
        font-size: 16pt;
        padding: 10px 60px 10px 70px;
    }
    .botoes img{
        padding:5px 5px 5px 160px;
    }
    #menu{
        top:30vw;
        left:20vw;
    }
}