body{
    width: 100vw;
    height: 135vh;
    background-image: url('./images/fundo.jpg');
    background-size: cover;  
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
.img{
    max-width: 40%;
    max-height: 40%;
    position: absolute;
    top: 30px;
    left: 50vw;
    transform: translateX(-50%);
}
.botoes{
    height: 56.65px;
    width: 400px;
    border-radius: 100px;
    background-color: #FFFF;
    margin-top: 10px;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px 10px 30px;
    font-size:12pt 
}
.botoes a{
    color: #a5283b;
    text-decoration: none;
}
.botoes  b{
    font-weight: bold;
    font-style: bold;
}
.botoes img{
    max-width: 70%;
    max-height: 70%;
}
#menu{
    position: absolute;
    top: 200px;
    left: 40vw;
    width: 100px;
    height: 100px;
    transform: translateX(-50%);
}
#menu ul{
    list-style: none;
}
#insta{
    max-width: 20%;
    max-height: 20%;
    position: absolute;
    top: 120vh;
    left:55vw;
    transform: translateX(-50%);
}
@media (max-width:600px) {
    body{width: 100vw;height: 100vh; background-image: url('./images/fundo-mobile.jpg');background-size:auto;} 
    .img{max-width: 80%; max-height: 80%;left:50vw;}
    #insta{
        max-width: 100%;
        max-height: 100%;
        left:20vw;
    }
    #menu{
        left:20vw;
    }
}